backports.tarfile==1.2.0
black==25.1.0
boto3==1.37.10
flake8==7.1.2
importlib-metadata==8.0.0
inflect==7.3.1
isort==6.0.1
jaraco.collections==5.1.0
llm-gemini==0.16
llm-anthropic==0.15.1
pdf2image==1.17.0
pip-chill==1.0.3
pypdf==5.3.1
requests==2.32.3
tomli==2.0.1
wheel==0.45.1
setuptools==75.8.2
document-inference==0.0.0